html{
    font-size: 2.2vh;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-image: url(Images/background.jpg);
    background-size: cover;
}

a{
    display:block;
    text-align: left;
}

table{
    width:98vw; 
    height:auto;
    padding-bottom: 5vh;
    padding-top: 5vh;
    padding-left: 0vw;
    padding-right: 0vw;
    border-color: black;
}

td{
    text-align: left;
    padding-top:2vh;
}

.echec{
    color: red;
    text-align:left;
}

input{
    font-family: 'Roboto', sans-serif;
    align: left;
}

input#nb_places{
    width: 2.5vw;
}

input#datenaiss,date_reservation{
    width: 9.5vw;   
}

#calcul{
    text-align:left;
}

#redirect{
    align:left;
    background-color: white;            
}